.avatar {
  width: 50%;
  border-radius: 10px;
}

.avatarSelect {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.avatarSelect img {
  width: 10%;
  border-radius: 100%;
}

/* .selected {
  border: 2px solid white;
} */
.cItem {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2.5%;
  border-radius: 10px;
}

.carousel-container {
  width: 80%;
  margin: 2% auto;
  /* background-color: rgba(255, 255, 255, 0.05); */
}
.bio {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
.bio p {
  width: 80%;
  margin: 5% auto;
  text-align: left;
}
.selected {
  border: 3px solid #1ac197;
  box-shadow: 0px 0px 10px #1ac19788;
}
.carousel-control-next-icon {
  color: #1ac197;
  /* background-color: #1ac197; */
}
