img {
  width: 50%;
}
.opaque {
  background-image: url("../../assets/images/vegetables-752153_1920.jpg");
  height: 100vh;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 1.6rem;
}
.why {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
}
.why div {
  flex-basis: 20%;
}
