img {
  width: 50%;
}
.opaque {
  background-image: url("../../assets/images/vegetables-752153_1920.jpg");
  height: 100vh;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background-size: cover;
}
.why {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
.why div {
  flex-basis: 20%;
  background-color: whitesmoke;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
  padding: 1%;
}
.home-cards {
  width: 20%;
}
.landing-container {
  width: 40%;
  margin-left: 10%;
  margin-top: 30vh;
  text-align: left;
}
.how {
  width: 90%;
  margin: 0 auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}
.how div {
  flex-basis: 25%;
}
.outer {
  display: flex;
  align-items: center;
  padding: 2% 0;
  justify-content: center;
}
.outer img {
  width: 40%;
  border-radius: 10px;
}
.inner {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 60%;
  color: rgba(0, 0, 0, 0.8);
  padding: 1%;
  z-index: 2;
}
.inner > p {
  text-align: left;
  margin-bottom: 4%;
}
section {
  padding-top: 2%;
}

.right {
  margin-left: -5%;
}
.left {
  margin-right: -5%;
}
.title {
  padding-top: 2%;
}
.icon {
  margin: 1% 0 2% 0;
}
@media (max-width: 768px) {
  .landing-container {
    width: 80%;
  }
  .why {
    flex-direction: column;
    align-items: center;
  }
  .why div {
    width: 80%;
    margin: 5% 0;
    padding: 5%;
  }
  .how {
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .outer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .outer:nth-child(2) {
    flex-direction: column-reverse;
    margin: 0;
  }
  .inner {
    display: flex;
    flex-direction: column;
    margin: 4%;
    padding: 4%;
    width: 80%;
  }
  .left {
    margin-right: 0;
  }
}
