.cContainer {
  /* width: 60%; */
  /* width: 100%; */
  margin: 1% auto;
}
.support-section {
  background-color: rgba(255, 255, 255, 0.05);
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.4rem;
}
.shopIcons {
  display: flex;
  width: 70%;
  margin: 2% auto 4% auto;
  justify-content: space-evenly;
}
.shopIcons img {
  width: 15%;
  border-radius: 10px;
}
.cContainer .cItem {
  align-items: center;
}
.cItem img {
  border-radius: 10px;
}
.support-icon {
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
  border: none;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  margin-top: 1%;
  width: 40%;
}
.support-icon:hover {
  border: 1px solid rgba(255, 255, 255, 0.87);
}
