header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: clamp(1rem, 2vw, 1.4rem);
  background-color: #ffffff00;
  z-index: 1;
  position: absolute;
  width: 100%;
}
header nav {
  border: 1px solid white;
  width: clamp(500px, 60vw, 800px);
  display: flex;
  justify-content: space-around;
}
header img {
  height: 100%;
  width: 10%;
  object-fit: contain;
  margin-left: 10%;
}
.nav-link {
  text-decoration: none;
  color: #1ac197;
  font-family: Nunito;
}
.nav-link:visited {
  text-decoration: none;
  color: #1ac197;
}
.nav-link:hover {
  color: #1ac197;
}
nav {
  margin-right: 5%;
}
.dropdown-toggle::after {
  content: none;
}
@media (max-width: 768px) {
  header {
    padding-right: 8%;
  }
  header img {
    width: 25%;
  }
  .dropdown-toggle {
    background: transparent;
    color: #1ac197;
    border: none;
    font-size: 2.5rem;
    padding: 0;
  }
  .dropdown-toggle:focus {
    outline: none;
  }
  nav {
    z-index: 1;
    margin-right: 0%;
  }
}
