header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: 1.4rem;
  background-color: #ffffff00;
  z-index: 1;
  position: absolute;
  width: 100%;
}
header nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
header img {
  height: 100%;
  width: 10%;
  object-fit: contain;
  margin-left: 10%;
}
.nav-link {
  text-decoration: none;
  color: #1ac197;
  font-family: Nunito;
}
.nav-link:visited {
  text-decoration: none;
  color: #1ac197;
}
nav {
  margin-right: 5%;
}
@media (max-width: 375) {
}
