footer {
  display: flex;
  justify-content: space-between;
  background-color: #1ac197;
  /* background-color: #8f5730; */
  padding: 1%;
  margin-top: 2%;
  position: relative;
  bottom: 0px;
  width: 100%;
}
footer .right {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}
.socials {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}
.link-featureless {
  color: white;
}
.link-featureless:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  footer .right {
    margin-left: 0;
    margin-bottom: 8%;
  }
}
